{% extends "base.html" %}
{% block head_title %} Home | {{block.super}}{% endblock head_title %}

{% block stylings %}
{% load static %}
<link href="{% static 'templates/snippets/index-style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
{% endblock stylings %}

{% block content%}

<!-- Navigation -->


<!--- Image Slider -->

<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active drk">
            <div class="slide-1"></div>
            <div class="carousel-caption"></div>

        </div>
        <div class="carousel-item drk">
            <div class="slide-2"></div>
            <div class="carousel-caption"></div>

        </div>
        <div class="carousel-item drk">
            <div class="slide-3"></div>
            <div class="carousel-caption"></div>
        </div>
        <div class="main-text hidden-xs text-center">
    <h1 class="display-2">CRM</h1>
    <h3>A basic CRM software for ICBA</h3>
    <button type="button" class="btn btn-outline-light btn-lg">Sign In</button>
    <button type="button" class="btn btn-outline-light btn-lg">Sign Up</button>
</div>
    </div>

</div>

<!--- Jumbotron -->
<div class="container-fluid">
    <div class="row jumbotron bg-dark" style="padding: 1rem; border-radius: 0;">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead" style="color: white">A web hosting service allows individuals and organizations to make
                their website accessible via the World Wide Web.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#">
                <button type="button" class="btn btn-outline-light btn-lg">Web Hosting</button>
            </a>
        </div>
    </div>
</div>

<!--- Two Column Section -->
<div class="container-fluid" style="width: 90%;margin: 0 auto; padding-top: 5rem; padding-bottom: 5rem;">
    <div class="row padding">
        <div class="col-lg-5">
            <h1>Our Project</h1>
            <p style="font-size:1.2rem;">Welcome to our Customer Relationship Management website allow users to keep tract of individuals
            and organizations that are in contact with ICBA.</p>
            <p style="font-size:1.2rem;"> Our basic CRM allows tracking of individuals and organizations, users are able to
                create new entries, read the information available for each entry,
                modify and save the existing information, and remove old and unnecessary entries from the book.
             Additionally, users can import data from csv and export to a file format of their choice.</p>
            <br>
        </div>
        <div class="col-lg-7">
            <img src="/static/templates/images/datatable.PNG" class="img-fluid">
        </div>
        </div>
</div>
<br>







<!--- Fixed background -->


<div class="margin"></div>

<section class="parallax">
    <div class="parallax-inner" style="background-color: rgba(0,0,0,0.6);">


<!--- Welcome Section -->
<div class="container" style="width: 60%;margin: 0 auto; padding-top: 2rem;">
    <div class="welcome row justify-content-center text-center ">
        <div class="col-12">
            <h1 class="display-4" style="color: white;">Built with ease</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead" style="color: white;">
                This website was built using the 'Django' web framework with 'Bootstrap' for the front end and 'SQLite'
                for the database.</p>
        </div>
    </div>
</div>



<!--- Three Column Section -->

        <div class="container-fluid padding" style="width: 90%;margin: 0 auto; padding-top: 2rem; padding-bottom: 3rem">
    <div class="row text-center padding" style="color: white;">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-bold"></i>
            <h3>BOOTSTRAP</h3>
            <p>Built with the latest version of Bootstrap, Bootstrap 4.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <i class="fas fa-code"></i>
            <h3>DJANGO</h3>
            <p>Built with the latest version of Django, Django 3.0.7.</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <i class="fa fa-folder"></i>
            <h3>SQLite</h3>
            <p>Used SQLite3 as a relational database to store data .</p>
        </div>
    </div>
</div>
    </div>
</section>


<!--- Emoji Section -->


<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->
<br>
<div class="container-fluid padding" style="width: 100%;margin: 0 auto; padding-top: 5rem; padding-bottom: 5rem">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i> </a>
            <a href="#"><i class="fab fa-twitter"></i> </a>
            <a href="#"><i class="fab fa-google-plus-g"></i> </a>
            <a href="#"><i class="fab fa-instagram"></i> </a>
            <a href="#"><i class="fab fa-youtube"></i> </a>
        </div>
    </div>
</div>

<!--- Footer -->


{% endblock %}


{% block script %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

{% endblock script %}