{% extends 'base.html' %}

{% block head_title %} Contact | {{block.super}}{% endblock head_title %}



{% block stylings %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'contacts/jquery.dataTables.min.css' %}" type="text/css">
{% endblock stylings %}

{% block content%}



  <div class="table-wrapper">
      <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <span style="font-size:24px">Contacts</span>

					</div>
					<div class="col-sm-7" style="top: 0px;">
                        <a href="#" class="btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Add New Contact</span></a>
						<a class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="material-icons">&#xE24D;</i> <span>Import from Excel</span></a>
					</div>
                </div>
            </div>
       <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog h-100 d-flex flex-column justify-content-center my-0">
      <div class="modal-content ">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Import from CSV</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {% include "profile_upload.html" %}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


    <table id="example" class="hover row-border nowrap" style="width:100%">
            <thead>
                <tr style="background-color: #f9f9f9; color: black">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Designation</th>
                    <th>Organization</th>
                </tr>
            </thead>
            <tbody>

        {% for contact in contacts%}

                <tr>
                    <td>{{contact.First_Name}}</td>
                    <td>{{contact.Last_Name}}</td>
                    <td>{{contact.Email}}</td>
                    <td>{{contact.Phone_Number}}</td>
                    <td>{{contact.designation}}</td>
                    <td>{{contact.Organizations}}</td>
                </tr>

        {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                     <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Designation</th>
                    <th>Organization</th>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock content%}